* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-bel.bel.acx -text
/apertium-bel.bel.dix -text
/apertium-bel.bel.rlx -text
/apertium-bel.pc.in -text
/apertium-bel.post-bel.dix -text
/apertium-bel.post-short-u-1.dix -text
/apertium-bel.post-short-u-2.dix -text
/autogen.sh -text
/bel.prob -text svneol=unset#unset
/configure.ac -text
dev/coverage/bel-rus_raw.log -text
dev/coverage/coverage.sh -text
dev/detect_participles.py -text
dev/fix_adjectives.py -text
dev/fix_duplicates.py -text
dev/fix_duplicates_adj.py -text
dev/formatter.py -text
dev/gen_missing_forms/adjectives_gen_compounds.py -text
dev/gen_missing_forms/nouns_generic.py -text
dev/gen_missing_forms/nouns_iya.py -text
dev/gen_missing_forms/nouns_k.py -text
dev/gen_missing_forms/nouns_l.py -text
dev/gen_missing_forms/nouns_ll.py -text
dev/gen_missing_forms/nouns_nne.py -text
dev/gen_missing_forms/nouns_ts.py -text
dev/gen_missing_forms/nouns_yka.py -text
dev/lemmatised-hitparade.py -text
dev/parse_slounik.py -text
dev/sort_speling_file.py -text
dev/utils.py -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
