* text=auto !eol
/apertium-bel.bel.acx -text
/apertium-bel.bel.dix -text
/apertium-bel.bel.rlx -text
dev/bel.freq.categorised.txt -text
dev/bel.freq.lemmatised.txt -text
dev/codes.txt -text
dev/lemmatised-hitparade.py -text
/modes.xml -text
